.plugin_pmicon {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/cable_release.svg) center center no-repeat !important;
}

.plugin_pmicon_header:before {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/cable_release.svg) center center no-repeat !important;
}

.pimcore_version_6 .plugin_pmicon_header:before {
    width: 24px;
    height: 24px;
}

.pm_icon_cli {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/go.svg) center center no-repeat !important;
}
.process-manager-notification-progress-bar {
  /*  height:30px;*/
}
.plugin-process-manager-status-finished,
.process-manager-notification-progress-bar.finished,
.process-manager-notification-progress-bar.finished .x-progress-bar {
    background-color: #9ACD32;
}
.plugin-process-manager-status-failed,
.process-manager-notification-progress-bar.finished_with_errors ,
.process-manager-notification-progress-bar.finished_with_errors .x-progress-bar ,
.process-manager-notification-progress-bar.failed,
.process-manager-notification-progress-bar.failed .x-progress-bar
{
    background-color: #FF6347;
}

#processmanager_active_processes .process-manager-notification-progress-bar.failed .x-progress-text-back,
#processmanager_active_processes .process-manager-notification-progress-bar.finished_with_errors .x-progress-text-back,
#processmanager_active_processes .process-manager-notification-progress-bar.finished .x-progress-text-back
{
    color:#fff;
}
.plugin-process-manager-save-button{
    background: url("/bundles/pimcoreadmin/img/flat-color-icons/ok.svg") no-repeat scroll left center transparent !important;
}
.plugin-process-manager-execute-button{
    background: url("/bundles/pimcoreadmin/img/flat-color-icons/go.svg") no-repeat scroll left center transparent !important;
}

.process_manager_icon_download {
    text-decoration: none;
    background-color: #393c3f !important;
    width: 27px;
    border-radius: 3px;
    height: 21px;
    display: inline-block;
    vertical-align: top;
}

.process_manager_action_js_event {
    margin-right: 5px;
    text-align: center;
}
.process_manager_action_js_event img {

}

    /*
    .process_manager_icon_action_overlay_go {
        position: absolute;
        width: 14px;
        height: 14px;
        bottom: 0px;
        right: 0px;
        content: "";
        background: url(/bundles/pimcoreadmin/img/flat-color-icons/overlay-go.svg) center center no-repeat !important;
    }*/

.process_manager_icon_action_open {
    position: relative;
    text-decoration: none;
    background-color: #393c3f !important;
    width: 27px;
    border-radius: 3px;
    height: 21px;
    display: inline-block;
    background-image: url(/bundles/elementsprocessmanager/img/sprite-open-item-action.png);
    background-position-y: -2px;
}

.process_manager_icon_action_open.document {
    background-position-x: -2px;
}
.process_manager_icon_action_open.object {
    background-position-x: -33px;
}
.process_manager_icon_action_open.asset {
    background-position-x: -63px;
}
.process-manager-callback-settings-table {
    border : 1px solid #ECECEC;
    border-collapse: collapse;
}
.process-manager-callback-settings-table th, .process-manager-callback-settings-table td{
    border : 1px solid #ECECEC;
    padding: 2px;
    font-size: 0.9em;
}
.process-manager-callback-settings-tabl th {
    text-align: left;
}
.process-manager-link a {
    color: #739BC8;
}

.process-manager-hide-icon {
    display: none;
}

.pm_tooltip_icon {
    position: relative;
    left:3px;
    top:3px;
}
.pm_number_select .x-form-trigger-wrap-default{
    height: auto;
    vertical-align: top;
}

.plugin_pm_property_selector_panel_source {
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}
.plugin_pm_property_selector_panel_target {
    border-top: 1px solid #d0d0d0;
}
.plugin_pm_property_selector_panel {
    margin-bottom: 10px;
}

#processmanager_active_processes-body {
    /*overflow-y: scroll;*/
}

.process-manager-active-processes-header-text {
    margin-bottom: 2px;
    display: block;
}
.process-manager-active-processes-header-text .x-form-display-field {
    min-height: auto;
}
.pm-hide {
    background-color: #ffae00;
}

a.process-manager-details-link {
    color: #404040 !important;
}
.x-tool-process-manager-unpublish-all {
    background-image: url(/bundles/pimcoreadmin/img/flat-color-icons/approve.svg) !important;
    background-size: contain;
    background-color: #3c3f41;
}

.active_processes_finished_icon {
    width: 15px;
    height: 15px;
    position: relative;
    top:4px;
}

.process-manager-action-icon-tbar {
    height: 18px;
    position: relative;
    top: 4px;
}