.plugin_pmicon {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/cable_release.svg) center center no-repeat !important;
}

.plugin_pmicon_header:before {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/cable_release.svg) center center no-repeat !important;
}

#plugin_pm_shortcut_menu svg path:first-of-type{
    fill: #37474F;
}

#plugin_pm_shortcut_menu svg path:last-of-type{
    fill: #0277BD;
}

.pm_icon_cli {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/go.svg) center center no-repeat !important;
}

.plugin-process-manager-status-finished {
    background-color: #9ACD32;
}
.plugin-process-manager-status-failed {
    background-color: #FF6347;
}
.plugin-process-manager-save-button{
    background: url("/bundles/pimcoreadmin/img/flat-color-icons/ok.svg") no-repeat scroll left center transparent !important;
}
.plugin-process-manager-execute-button{
    background: url("/bundles/pimcoreadmin/img/flat-color-icons/go.svg") no-repeat scroll left center transparent !important;
}

.process_manager_icon_download {
    text-decoration: none;
}

.process-manager-callback-settings-table {
    border : 1px solid #ECECEC;
    border-collapse: collapse;
}
.process-manager-callback-settings-table th, .process-manager-callback-settings-table td{
    border : 1px solid #ECECEC;
    padding: 2px;
    font-size: 0.9em;
}
.process-manager-callback-settings-tabl th {
    text-align: left;
}
.process-manager-link a {
    color: #739BC8;
}

.process-manager-hide-icon {
    display: none;
}

.pm_tooltip_icon {
    position: relative;
    left:3px;
    top:3px;
}
.pm_number_select .x-form-trigger-wrap-default{
    height: auto;
    vertical-align: top;
}

.plugin_pm_property_selector_panel_source {
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}
.plugin_pm_property_selector_panel_target {
    border-top: 1px solid #d0d0d0;
}
.plugin_pm_property_selector_panel {
    margin-bottom: 10px;
}